@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Sans&display=swap');

:root{
	--yellow: #FCDB00;
	--white: #FFFFFF;
	--black: #010101;
	--fullbl: #000000;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'PT Sans', sans-serif;
	background-color: #E5E5E5;
}

h1{
	text-align: center;
	font-size: 48px;
}

h2{
	margin-bottom: 20px;
	font-size: 40px;
}

h3{
	margin-bottom: 20px;
	font-size: 27px;
}

.bg{
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 0px auto;
}

.bg>div{
	
}

.ghost{
	height: 154px;
}

.header{
	z-index: 2;
	width: 1440px;
	position: fixed;
	background-color: var(--yellow);
	height: 154px;
}

.menu{
	position: absolute;
	top: 50%;
    left: 10%;
    transform: translate(0 , -50%);
}

.logo{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hsocial{
	position: absolute;
	top: 50%;
    right: 10%;
    transform: translate(0 , -50%);
}

.header>img{

}


.slider{
	font-size: 24px;
	position: relative;
	background-color: var(--yellow);
	height: 740px;
}

.slide1{
	width: 754px;
	position: absolute;
	top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.slide1>*{
	margin: 20px;
}

.slide1>p{
	font-size: 27px;
	line-height: 40px;
	margin: 0px;
}

.button{
	position: absolute;
	bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
	display: flex;
	flex-direction: row;
}

.button>div{
	margin: 10px;
	background-color:  #8B8A8B;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.button>div:hover
{
	background-color: var(--white);
	border-color: var(--white);
}

.content{
	position: relative;
	background-color: var(--white);
	height: 872px
}

.tcont{
	font-size: 27px;
	width: 754px;
	position: absolute;
	top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.tcont>h2{
	font-size: 40px;
}

.tcont>p{
	font-size: 27px;
	line-height: 40px;
	margin: 0px;
}

.ccont{
	position: absolute;
	bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lcont{
	font-size: 18px;
	width: 270px;
	position: absolute;
	top: 40%;
    left: 10%;
}

.lcont>div{margin-bottom: 100px}

.rcont{
	font-size: 18px;
	width: 270px;
	position: absolute;
	top: 40%;
    right: 10%;
}

.rcont>div{margin-bottom: 100px}

.footer{
	color: var(--white);
	position: relative;
	border: 1px solid black;
	background-color: var(--black);
	height: 872px
}

.footer h2{
	color: var(--yellow);
}


.input{
	position: absolute;
	bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input>input{
	height: 40px;
	width: 500px;
}

.input>button{
	background-color: var(--yellow);
	color: var(--black);
	width: 100px;
	height: 40px;
}

.infoa{ 
	font-size: 18px;
	position: absolute;
	bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
	display: flex;
	flex-direction: row;
}

.infoa>div{
	margin: 60px;
	width: 30px;
}

.infoa>.info{
	width: 300px;
}